body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    margin: 0;
}
/*przyciski na gorze*/
.nawigacja{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}
.przyciski{
    width:100%;
    overflow:hidden;      
    float:left;
    position:static;
    white-space:normal;
}
.podswietlenie:hover{
background-color: black;
color: black;
cursor: pointer;
}

.podswietlenie{
    padding: 10px;
    color: white!important;
    padding:8px 16px;
    float: left;
    
}

.ikony{
    display:inline-block;    
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    vertical-align:middle;    
}
/*zdjecia*/
.zdjecie1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.zdjecie1 {
    background-image: url('../images/drzewo1.jpg');
    min-height: 100%;    
    position:relative;  
    }

.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    white-space:nowrap;
    display:inline-block;
    width:auto;
    text-align:center;
    padding:12px 24px;
    color:#fff;
    background-color:#000;
    font-size:20px;
    letter-spacing:2px;
    animation:opac 0.8s;    
}
/*ogarnac*/
.michal{    
    width: 30%;
    padding: 12px 24px!important;    
    float: left;    
}
.michal:before, .michal:after{
    box-sizing: inherit;
}
.michal1{    
    padding: 12px 24px!important;
    text-align: left;    
}
.michal1:before, .michal1:after{
    box-sizing: inherit;
}
.zawartosc{
    max-width:980px;
    margin:auto;
    padding:0.01em 16px;
    padding-top:64px;
    padding-bottom:64px;
}
.zawartosc:before, .zawartosc:after{
    box-sizing: inherit;
    content: "";
    display: table;
    clear: both;
}
.omnie{
    width:auto;
    text-align:center;
    font-weight: 400;
    margin: 10px 0;    
}
.omnie:before, .omnie:after{
    box-sizing: inherit;
}
.omnie2:before, .omnie2:after{    
    content: "";
    display: table;
    clear: both;
}
a{
    text-decoration: none;
    color: #777;
}

.obrazek{
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.obrazek:before, .obrazek:after{
    box-sizing: inherit;
}

.mb{
    margin:0;
}

.sekcjaproj{
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    padding: 0.01em 16px;
    max-width: 980px;
    margin: auto;
    box-sizing: inherit;
    display: block;
    }

    