body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/*przyciski na gorze*/
.podswietlenie:hover{
background-color: #777;
color: black;
cursor: pointer;
}

.podswietlenie{
    padding: 10px;
}

.ikony{
    display:inline-block;    
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    vertical-align:middle;    
}
/*zdjecia*/
.zdjecie1 {
    background-image: url('../images/drzewo.jpg');
    min-height: 100%;
    position:relative;
    
    
}

.zdjecie1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
