body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/*przyciski na gorze*/
.podswietlenie:hover{
background-color: #777;
color: black;
cursor: pointer;
}

.podswietlenie{
    padding: 10px;
}

.ikony{
    display:inline-block;    
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    vertical-align:middle;    
}
/*zdjecia*/
.zdjecie1 {
    background-image: url('../images/drzewo1.jpg');
    min-height: 100%;
    position:relative;
    
    
}

.zdjecie1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    white-space:nowrap;
    display:inline-block;
    width:auto;
    text-align:center;
    padding:12px 24px;
    color:#fff;
    background-color:#000;
    font-size:20px;
    letter-spacing:2px;
    animation:opac 0.8s;
    
}

.zawartosc{
    max-width:980px;
    margin:auto;
    padding:0.01em 16px;
    padding-top:64px;
    padding-bottom:64px;

}

.omnie{
    /*display:inline-block;*/
    width:auto;
    text-align:center;
}

a{
    text-decoration: none;
    color: #777;
}